button { 
    width: 100%; 
    height: 100%; 
    font-family: 'Homemade Apple', cursive;
    color: black;
    font-size: 5em !important; 
    background: black;
}

.success{
    background: rgb(109, 233, 250);
}
.info{
    background: rgb(245, 186, 77);
}